<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me!</h2>
                <hr class="light">
                <p class="text-faded">A highly-motivated programmer and Master of Science graduate looking to fill a position as a Software Engineer or Web Developer. I am ambitious, hardworking and want to find a company that I can grow with as I achieve their goals!</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
